{% extends "core/base.html" %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">
        {{ room.name }}
    </h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for message in messages %}
          <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">{{ message.user.username }}</p>
            <p>{{message.content }}</p>
          </div>
        {% endfor%}
    </div>
</div>

<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form action="." method="post" class="flex">
        {% csrf_token %}
        <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message here please... " id="chat-message-input">

        <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" id="chat-message-submit">Submit</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname"}}
{{ request.user.username|json_script:"json-username"}}
<script>
    const roomName = JSON.parse(document.getElementById("json-roomname").textContent);
    const userName = JSON.parse(document.getElementById("json-username").textContent);
    const chatSocket = new WebSocket(`ws://${window.location.host}/ws/${roomName}/`);
    chatSocket.onmessage = (e) => {
        console.log('onmassage');

        const data = JSON.parse(e.data)

        if (data.message) {
            let chat_bubble = `<div class="p-4 bg-gray-200 rounded-xl">
                <p class="font-semibold">${data.username}</p>
                <p>${data.message}</p></div>`
            document.querySelector('#chat-messages').innerHTML += chat_bubble
            scrollToBottom()
        } else (
            alert('The message was empty!')
        )
    }
    chatSocket.onclose = (e) => {
        console.log('onclose')
    }

    document.querySelector("#chat-message-submit").onclick = (e) => {
        e.preventDefault();

        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        console.log(message)

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName,
        }));

        messageInputDom.value = '';

        return false;
    }

    // auto scroll to the bottom

    scrollToBottom = () => {
        const objDiv = document.querySelector("#chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    // call scroll
    scrollToBottom()
</script>
{% endblock%}