<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Djangochat{% endblock%}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #chat-messages {
            height: 400px;
            overflow-y: auto;
        }
    </style>
</head>
<body class="bg-teal-600">
    <nav class="flex items-center justify-between px-4 py-4 bg-teal-800">
        <div>
            <a href="/" class="text-xl text-white">Djangochat</a>
        </div>
        <div class="flex items-center space-x-4">
            {% if request.user.is_authenticated %}
              <a href="/rooms/" class="text-white hover:text-gray-200">Rooms</a>
              <a href="/logout/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Logout</a>
            {% else %}
              <a href="/login/" class="text-white hover:text-gray-200">Login</a>
              <a href="/signup/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Signup</a>
            {% endif %}
        </div>
    </nav>
    {% block content %} {% endblock%}
    {% block scripts %} {% endblock%}
    
    
</body>
</html>